gdsfactory==7.7.0
prettyprint
prettyprinttree
nltk
torch
transformers
langchain
langchain_community
chromadb
ollama
klayout
unstructured
unstructured[md]
sentence-transformers
peft
accelerate
bitsandbytes
safetensors
requests
datasets
optimum
trl
langchain_huggingface
tensorboard
ray==2.7.1
ray[default]
gym==0.26.2
gymnasium==0.28.1
scikit-learn
scikit-image
scipy
seaborn
matplotlib
lz4
async-timeout
