pandas
klayout
numpy
matplotlib
gdsfactory
nbsphinx
cairosvg
scipy
ltspice
mako
## glayout
gdstk
flatdict
Jinja2
loguru
omegaconf
orjson
pydantic
shapely
tqdm
typer
rich
typing-extensions
types-PyYAML
watchdog
toolz
sky130
gf180
gdsfactory==7.7.0
prettyprinttree