gdsfactory==7.7.0
prettyprint
prettyprinttree
nltk
torch
transformers
langchain
langchain_community
chromadb
ollama
unstructured
unstructured[md]
sentence-transformers
peft
accelerate
bitsandbytes
safetensors
requests
datasets
auto-gptq
optimum
trl
flash-attn