# Floorplan information - core boundary coordinates, std. cell row height,
# minimum track pitch as defined in LEF


# Power nets
# set ::power_nets "VDD"
# set ::ground_nets "VSS"
####################################
# global connections
####################################


# set pdngen::global_connections {
#   VDD {
#     {inst_name .* pin_name VPWR}
#     {inst_name .* pin_name VPB}
#   }
#   VSS {
#     {inst_name .* pin_name VGND}
#     {inst_name .* pin_name VNB}
#   }
# }
##===> Power grid strategy
# Ensure pitches and offsets will make the stripes fall on track
add_global_connection -defer_connection -net {VDD} -inst_pattern {.*} -pin_pattern {^VDD$} -power
add_global_connection -defer_connection -net {VDD} -inst_pattern {.*} -pin_pattern {^VDDPE$}
add_global_connection -defer_connection -net {VDD} -inst_pattern {.*} -pin_pattern {^VDDCE$}
add_global_connection -defer_connection -net {VDD} -inst_pattern {.*} -pin_pattern {VPWR}
add_global_connection -defer_connection -net {VDD} -inst_pattern {.*} -pin_pattern {VPB}
add_global_connection -defer_connection -net {VSS} -inst_pattern {.*} -pin_pattern {^VSS$} -ground
add_global_connection -defer_connection -net {VSS} -inst_pattern {.*} -pin_pattern {^VSSE$}
add_global_connection -defer_connection -net {VSS} -inst_pattern {.*} -pin_pattern {VGND}
add_global_connection -defer_connection -net {VSS} -inst_pattern {.*} -pin_pattern {VNB}
global_connect
####################################
# voltage domains
####################################
#set_voltage_domain -name {CORE} -power {VDD} -ground {VSS}
# ####################################
pdngen::specify_grid stdcell {
    name grid
        rails {
        met1 {width 0.48 offset 0 extend_to_core_ring 1}
    }
    core_ring {
     	  met4 {width 4.2 spacing 1.6 core_offset 4.1}
        met5 {width 4.2 spacing 1.6 core_offset 4.1}
    }
    straps {
        met4 {width 1.600 pitch 27.140 offset 20 extend_to_core_ring 1}
        met5 {width 1.600 pitch 27.200 offset 20 extend_to_core_ring 1}
    }
    connect {{met1 met4} {met4 met5}}
    pins {met5}
}

# pdngen::specify_grid macro {
#     orient {R0 R180 MX MY}
#     power_pins "VPWR"
#     ground_pins "VGND"
#     connect {{met4 met5}}
# }

# # Need a different strategy for rotated rams to connect to rotated pins
# # No clear way to do this for a 5 metal layer process
# pdngen::specify_grid macro {
#     orient {R90 R270 MXR90 MYR90}
#     power_pins "VPWR"
#     ground_pins "VGND"
#     connect {{met4 met5}}
# }

####################################
# standard cell grid
####################################
# define_pdn_grid -name {grid} -voltage_domains {CORE}
# add_pdn_ring -grid {grid} -layer {met4 met5} -width {4.2} -spacing {1.6} -core_offset {4.1}
# #add_pdn_stripe -grid {grid} -layer {met1} -width {0.48} -offset {0} -extend_to_core_ring -followpins
# add_pdn_stripe -grid {grid} -layer {met1} -width {0.48} -offset {0} -followpins -extend_to_core_ring
# add_pdn_stripe -grid {grid} -layer {met4} -width {1.600} -pitch {27.140} -offset {13.570} -extend_to_core_ring -snap_to_grid
# add_pdn_stripe -grid {grid} -layer {met5} -width {1.600} -pitch {27.200} -offset {13.600} -extend_to_core_ring -snap_to_grid
# add_pdn_connect -grid {grid} -layers {met1 met4}
# add_pdn_connect -grid {grid} -layers {met4 met5}
####################################
# macro grids
####################################
####################################
# # grid for: CORE_macro_grid_1
# ####################################
# define_pdn_grid -name {CORE_macro_grid_1} -voltage_domains {CORE} -macro -orient {R0 R180 MX MY} -halo {2.0 2.0 2.0 2.0} -default -grid_over_boundary
# add_pdn_connect -grid {CORE_macro_grid_1} -layers {met4 met5}
# ####################################
# # grid for: CORE_macro_grid_2
# ####################################
# define_pdn_grid -name {CORE_macro_grid_2} -voltage_domains {CORE} -macro -orient {R90 R270 MXR90 MYR90} -halo {2.0 2.0 2.0 2.0} -default -grid_over_boundary
# add_pdn_connect -grid {CORE_macro_grid_2} -layers {met4 met5}


# # POWER or GROUND #Std. cell rails starting with power or ground rails at the bottom of the core area
# set ::rails_start_with "POWER" ;

# # POWER or GROUND #Upper metal stripes starting with power or ground rails at the left/bottom of the core area
# set ::stripes_start_with "POWER" ;
